<div class="container">
    <div class="row">
        <div class="main-content">
            <h2>Diego Velásquez Castro</h2>
            <h2>2017107723 sede central Cartago</h2>
        </div>
        <div class="col-md-6">
            <img src="../assets/img/profile-image.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 title-content">
            <h3>Áreas de interés</h3>
        </div>
    </div>
    <div class="row interests">
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fas fa-brain fa-7x"></i>
            </div>
            <h4 class="interest-title">Inteligencia artificial</h4>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fas fa-user-secret fa-7x"></i>
            </div>
            <h4 class="interest-title">Cyber security</h4>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="fas fa-gamepad fa-7x"></i>
            </div>
            <h4 class="interest-title">Programación de videojuegos</h4>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                    <i class="fas fa-laptop-code fa-7x"></i>
            </div>
            <h4 class="interest-title">Desarrollo web</h4>
        </div>
    </div>
    <p>Hobbies</p>
    <ul>
        <li>Jugar videojuegos</li>
        <li>Salir con amigos</li>
        <li>Ver series</li>
    </ul>
    
    
</div>
