<h1>Información del estudiante</h1>
<div class="student-info-content">
    <p>Diego Velásquez Castro</p>
    <p>2017107723 sede central Cartago</p>
    <p>Áreas de interés</p>
    <ul>
        <li>Inteligencia artificial</li>
        <li>Algoritmos</li>
        <li>Cyber security</li>
        <li>Programación de videojuegos</li>
        <li>Desarrollo web</li>
    </ul>
    <p>Hobbies</p>
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Jugar videojuegos</li>
            <li class="list-group-item">Salir con amigos</li>
            <li class="list-group-item">Ver series</li>
        </ul>
    </div>

    
</div>
