<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3>Sobre el curso</h3>
        </div>
    </div>
    <div id="infographic" class="row text-center">
        <div class="col">
            <a href="src/assets/img/Infograma.jpg" download>
                <h5>Infograma</h5>
            </a>
        </div>
        <div id="full-stack" class="col">
            <a href="src/assets/files/Full_Stack_Developer.pdf" download>
                <h5>Como convertirse en un full stack developer</h5>
            </a>
        </div>
    </div>
</div>
