<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h3>Sobre el curso</h3>
        </div>
    </div>
    <div class="row text-center things">
        <div id="infographic" class="col">
            <a href="src/assets/img/Infograma.jpg" download>
                <h5>Infograma</h5>
            </a>
        </div>
        <div id="full-stack" class="col">
            <a href="src/assets/files/Full_Stack_Developer.pdf" download>
                <h5>Como convertirse en un full stack developer</h5>
            </a>
        </div>
        <div id="mapas" class="col">
            <a href="map/routing/map.html" >
                <h5>Ejemplo de routing</h5>
            </a>
            <a  href="map/clusters/map.html">
                <h5> Ejemplo de marker clustering</h5>
            </a>
        </div>
    </div>
    <div id="django" class="row  mb-5 text-center things">
        <div class="col">
            <a href="src/assets/files/Django_EA.pdf" >
                <h5>Estado del Arte Django</h5>
            </a>
            <a  href="src/assets/files/Investigacion_Django.pdf">
                <h5> Investigacion Django </h5>
            </a>
            <a  href="src/assets/files/InstructivoInstalacionDjango.pdf">
                <h5> Instalacion Django </h5>
            </a>
            <a  href="src/assets/files/EnunciadoTallerDjango.pdf">
                <h5> Taller Django </h5>
            </a>
        </div>
        <div class="col">
            <a  href="src/assets/files/Propuesta.pdf">
                <h5> Propuesta de proyecto </h5>
            </a>
            <a  href="src/assets/files/Especificación_Funcional.pdf">
                <h5> Especificacion funcional </h5>
            </a>
            <a  href="src/assets/files/Docu.pdf">
                <h5> Documentacion </h5>
            </a>
        </div>
    </div>    
    <div class="row mb-5 text-center">
        <div class="col">
            <video  id="video"  src="src/assets/videos/demo-lab3.mp4" controls></video>
        </div>
    </div>
    <div class="row text-center">
        <div class="caledar col" render-partial="src/calendario/calendario.html"></div>
    </div>
</div>
