<a data-scroll class="navbar-brand" href="#home">Portafolio</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a data-scroll class="nav-link" href="#home">Inicio </a>
    </li>
    <li class="nav-item">
      <a data-scroll class="nav-link" href="#personal-info">Información personal</a>
    </li>
    <li class="nav-item">
        <a data-scroll class="nav-link" href="#interests">Áreas de interés</a>
    </li>
    <li class="nav-item">
        <a data-scroll class="nav-link" href="#hobbies">Hobbies</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Trabajos del curso
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#infographic">Infográfico</a>
        <a class="dropdown-item" href="#full-stack">Become a fullstack developer</a>
        <a class="dropdown-item" href="#calendario">Calendario</a>
      </div>
    </li>
  </ul>
</div>