<div class="container">
  <div id="personal-info" class="row">
    <div class="main-content">
      <h2>Diego Velásquez Castro</h2>
      <h2>2017107723 sede central Cartago</h2>
    </div>
    <div class="col-md-5 profile-image"></div>
  </div>
  <div  id="interests" class="row">
    <div class="col-md-12 title-content">
      <h3>Áreas de interés</h3>
    </div>
  </div>
  <div class="row interests">
    <div class="col-md-3 text-center">
      <div class="icon">
        <i class="fas fa-brain fa-7x"></i>
      </div>
      <h4 class="interest-title">Inteligencia artificial</h4>
    </div>
    <div class="col-md-3 text-center">
      <div class="icon">
        <i class="fas fa-user-secret fa-7x"></i>
      </div>
      <h4 class="interest-title">Cyber security</h4>
    </div>
    <div class="col-md-3 text-center">
      <div class="icon">
        <i class="fas fa-gamepad fa-7x"></i>
      </div>
      <h4 class="interest-title">Programación de videojuegos</h4>
    </div>
    <div class="col-md-3 text-center">
      <div class="icon">
        <i class="fas fa-laptop-code fa-7x"></i>
      </div>
      <h4 class="interest-title">Desarrollo web</h4>
    </div>
  </div>
  <div id="hobbies" class="row">
    <div class="col-md-12 title-content">
      <h3>Hobbies</h3>
    </div>
  </div>
  <div class="row interests">
    <div class="col-md-3 text-center">
      <div class="icon">
            <i class="fab fa-steam fa-7x"></i>
      </div>
      <h4 class="interest-title">Jugar videojuegos</h4>
    </div>
    <div class="col-md-3 text-center">
      <div class="icon">
            <i class="fas fa-user-friends fa-7x"></i>
      </div>
      <h4 class="interest-title">Salir con amigos</h4>
    </div>
    <div class="col-md-3 text-center">
      <div class="icon">
            <i class="fas fa-tv fa-7x"></i>
      </div>
      <h4 class="interest-title">Ver series</h4>
    </div>
    <div class="col-md-3 text-center">
      <div class="icon">
            <i class="fas fa-beer fa-7x"></i>
      </div>
      <h4 class="interest-title">Hacer cerveza</h4>
    </div>
  </div>
</div>
