.main-content {
    padding: 250px 15px 250px;
}
.basic-course-info {
    background-image: url("../assets/img/header-img.png");
    background-position: center;
    background-size: cover;
    color: #FFF;
    width: 100%;
    text-align: center;
}