@import "./basic-course-info.css";
@import "./student-info.css";

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'), url('../assets/fonts/ProductSans-Regular.woff') format('woff');
}

body {
    font-family: 'Product Sans' !important;
}

h1 {
    font-size: -webkit-xxx-large;
}

p {
    font-size: larger;
}

li {
    font-size: larger;
}
