.student-info {
    padding-bottom: 120px;
}
.title-content {
    margin-bottom: 120px;
}
.interests {
    padding-bottom: 120px;
}
.icon {
    margin-bottom: 20px;
}
.interest-title {
    padding-top: 14px;
}
.profile-image {
    background-image: url("../assets/img/profile-image.jpg");
    background-position: center;
    background-size: cover;
    height: 300px;
    margin-top: 120px;
    margin-left: 120px;
    text-align: center;
    border-radius: 1000px;
}