.student-info {
    padding-bottom: 120px;
}
.title-content {
    margin-bottom: 120px;
}
.interests {
    padding-bottom: 120px;
}
.icon {
    margin-bottom: 20px;
}
.interest-title {
    padding-top: 14px;
}